@model Users
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="row">
    <div class="col-6" >
        <form method="post" asp-action="Login" >
            @Html.AntiForgeryToken()
            <div class="mb-2">
                <label asp-for="User_Name"></label>
                <input class="form-control" asp-for="User_Name" />

            </div>
            <div class="mb-2">
                <label asp-for="Password"></label>
                <input class="form-control" asp-for="Password" />

            </div>
           
            <input type="submit" value="Login" class="btn btn-success mb-2 " />
        </form>
    </div>
</div>

<a asp-action="Registration" class="btn btn-primary mb-2">Registration</a>
@section Scripts
    {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}